---
import BaseLayout from "@layouts/BaseLayout.astro";
import globalSettings from '@config/config.json.ts';
import { getSortedPosts } from "@utils/utils.js";
import { getEntry } from "astro:content";
import BackgroundMediaPostHeader from "@components/BackgroundMediaPostHeader.astro";
import InlinePost from "@components/InlinePost.astro";

const applied_innovation_post = await getEntry("blog", "applied-innovation");
const second_post = await getEntry("blog", "balancing-work-life");

const t = await import(/* @vite-ignore */ `@locales/${globalSettings.language}.json`)
  .catch(() => import(/* @vite-ignore */ '@locales/en.json'));
---

<BaseLayout globalSettings={globalSettings} t={t}>
  <main>  
    <BackgroundMediaPostHeader globalSettings={globalSettings} t={t} post={applied_innovation_post} hide_post_links={true} content_length="Full Width"/>

    <InlinePost post={second_post} />

  </main>
</BaseLayout>